<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.bet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".UpcomingMatchInfo.UpcomingActivity"></activity>
        <activity android:name=".InplayMatchInfo.InplayActivity" />
        <activity android:name=".Soccer.SoccerActivity" />
        <activity android:name=".HomeScreen.More.KhaiLagai.KhaiLagaiActivity" />
        <activity android:name=".HomeScreen.More.KhaiLagai.KhaiLagaiCalculator.KhaiLagaiPage" />
        <activity android:name=".HomeScreen.More.KhaiLagai.PlaySessionCalculator.SessionPage" />
        <activity android:name=".HomeScreen.More.KhaiLagai.SavedMatches.SaveMatches" />
        <activity android:name=".HomeScreen.Home.MatchList.MatchListActivity" />
        <activity android:name=".HomeScreen.More.AboutUsActivity" />
        <activity android:name=".HomeScreen.More.ContactUsActivity" />
        <activity android:name=".HomeScreen.More.SendFeedbackActivity" />
        <activity android:name=".HomeScreen.More.HelpActivity" />
        <activity android:name=".HomeScreen.News.AllNewsActivity" />
        <activity android:name=".HomeScreen.More.PrivacyTermsActivity" />
        <activity android:name=".Login.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".HomeScreen.HomeScreenActivity">

        </activity>
    </application>

</manifest>